.Home {
  height: 100vh;
  background-image: url(../src/assets/Bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Title {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-size: 40px;
}

.Lorem {
  width: 400px;
  text-align: center;
}
